body{
	background: url(pape6.gif) repeat top left;
	word-spacing: 7px;
	text-shadow: 1px 1px 5px black;
}
.hello{
	text-align: center;
	margin: 0;
	margin-top: 5%;
	margin-left: 17%;
	margin-right: 17%;
	padding-top: 2.5%;
	padding-bottom: 2%;
	border: 2.5px solid rgba(255, 255, 255, .8);
	backdrop-filter: blur(2.5px) grayscale(0%);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .85);

}
.main{
	margin-left: 17%;
	margin-right: 17%;
	margin-top: 5%;
	padding-top: 2.3%;
	padding-bottom: .5%;
	backdrop-filter: blur(2.5px);
	text-align: center;
	border: 2.5px solid rgba(255, 255, 255, .85);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .85);
}
.main h1{
	margin-bottom: .2%;
}
h1{
	margin: 0px;
	padding: 0px;
	font-family: "Zero G";
	letter-spacing: .7px;
	color: rgba(255, 255, 255, .85);
	font-size: 20px;
}
h1:hover{
	color: rgba(255, 255, 255, 1.0);
}
a{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: rgba(255, 255, 255, .85);
	font-family: "Laser";
	font-size: 12.75px;
	letter-spacing: .7px;
}
a:hover{
	color: rgba(255, 255, 255, 1.0);
	text-decoration: overline;

}
div{
	margin-bottom: 2.7%;
}
